*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}


/* header section and nav */
header{
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #444;
    position: relative;
}

.nav-links{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0
}

.nav-links li{
    margin-right: 1em;
}

.menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4em;
    left: 0;
    width: 100%;
    background-color: #444;
}

.menu a{
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: white;
}


/* media queries for responsiveness */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .menu {
        display: flex;
    }
}

/* sections */

section {
    padding: 2em;
    text-align: center;
}

